.dropdown {
  position: relative;
}

.dropdown:hover > .dropdown__list {
  display: block;
  opacity: 1;
  transform: translate(0);
  /* animation: fadeIn 0.4s ease-in-out; */
}

.dropdown__list {
  display: none;
  width: 150%;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translate(0, 10%);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.dropdown__list::before {
  content: "";
  position: absolute;
  bottom: 100%;
  width: 100%;
  height: 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(0, 10%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translate(0, 10%);
  }
}

.dropdown__list a {
  display: block;
  padding: 10px 0 10px 20px;
  color: #444;
  transition: all 0.3s ease-in-out;
}

.dropdown__list a:hover {
  color: #46abdc;
}
