.container {
  max-width: 1300px;
  margin: 0 auto;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  transition: all 0.3s ease-in-out;
  padding: 10px 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 700px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 100vvw;
    margin: 0;
  }
}
