.footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}
.footer-top .row {
  display: flex;
  flex-wrap: wrap;
}
.footer-top .footer-links,
.footer-top .footer-contact {
  width: 25%;
  margin-bottom: 30px;
}
.footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: #37517e;
}
.footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Jost", sans-serif;
  color: #5e5e5e;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 720px;
  }

  .footer-top .footer-links,
  .footer-top .footer-contact {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 540px;
  }

  .footer-top .footer-links,
  .footer-top .footer-contact {
    width: 100%;
  }
}
