.footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background-color: #37517e;
}

.footer-bottom .container {
  display: flex;
  justify-content: space-between;
}

.footer-bottom .credits {
  font-size: 13px;
}

.footer-bottom .credits a {
  transition: 0.3s;
  color: #47b2e4;
}

.footer-bottom .credits a:hover {
  color: #73c5eb;
}

@media screen and (max-width: 768px) {
  .footer-bottom .container {
    flex-direction: column;
    align-items: center;
  }
  .footer-bottom .container div {
    margin: 5px 0;
  }
}
